@page "/Etudiants"

<h3>Liste des Etudiants</h3>

<IF Condition=@(etudiants is null)>
    <Then>
        <h4 class="text-warning">Chargement en cours!</h4>
    </Then>
    <Else>
        <ListModeSwitcher ViewMode="viewMode">
            <TableMode>
                <button @onclick="switchToCards">Cards</button>
                <EtudiantTableList Etudiants="@etudiants" />
            </TableMode>
            <CardMode>
                <button @onclick="switchToTable">Table</button>
                <EtudiantsCardList Etudiants="@etudiants" />
            </CardMode>
        </ListModeSwitcher>
    </Else>
</IF>