@page "/Etudiants"

<h3>Liste des Etudiants</h3>

<IF Condition=@(etudiants is null)>
    <Then>
        <h4 class="text-warning">Chargement en cours!</h4>
    </Then>
    <Else>
        <EtudiantTableList Etudiants="etudiants" />
    </Else>
</IF>