<div class="card" style="width: @Width">
    <div class="card-header bg-success text-white">
        @CardHeader
    </div>
    <div class="card-body">
        @CardBody
    </div>
    <div class="card-footer">
        @CardFooter
    </div>
</div>